.detalles{
  margin: 10px 0 0 0;
}

.ttl-detalles{
  margin: 0 0 5px 150px;
  color: rgb(0, 8, 116);
  font-size: 1.5em;
}
.contenedor-detalles{
  display: flex;
  justify-content: center;
  margin: 6px 0 10px 0 ;
  font-size: 14px;
}
.lista-detalles{
  display: grid;
  grid-template-columns: repeat(3, 300px);
}    
@media(max-width: 430px){
  .detalles{
    margin: 0 0 0 0;
  }
  .ttl-detalles{
    margin: 0 0 0 30px;
    color: rgb(0, 8, 116);
    font-size: 1.5em;
  }
  .contenedor-detalles{
    display: inline;
    font-size: 12px;
  }
  .lista-detalles{
    display: inline;
  }   
  .contenedor-lista{
    margin: 0 0 0 60px;
  }
}